@media screen
{
	div.cassandras-veil {position: absolute; background-color:#000; opacity:0.7; filter: alpha(opacity = 70);}
	div.cassandras-veil img {position: absolute; top: 50%; left: 50%; margin-top: -14px; margin-left: -14px;}
}
